
body{
	margin: 0;
	padding: 0;
	background-color:#F7F7FC;
	background-size:cover;
	background-position: center;
  font-family: 'Montserrat', sans-serif; 
  
 
}
.addNewDisaster{
  width: 100%;
}

.place{
  margin-left: 10%;
  
}
.formIn{

  width: 20%;
  
  
 
}
.form{
margin-top: 10%;
margin-left: 40%;
margin-right: 20%;
    float: left;
width: 80%;
 

}*/
h2{
  text-align: center;
  font-size: 28px;
  padding-top: 2%;
}

input, select, textarea  {
    margin: 10px;
    width: 70%;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border-width: 1.5px;
}

 label {
        padding-top: 15px;
     float: left;
     width: 25%;
     height: 30px;
    
    
 }

 #description {
     height: 80px;
    
 }

 .submit-button {
     background-color: rgb(43, 189, 252);
     padding: 5px;
     width: 12%;
    margin-left: 85%;
    border-radius: 5px;
    outline: none;
    border-color: dodgerblue;
 }
 
 
.box1{
	width: 800px;
	height: 450px;  
	background:#ffffff;
	color: #fffef4;
	top:50%;
	left:50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 45px 30px;
	border-radius: 10px;

}

.form-group small {
  visibility: hidden;
  color: black;
}



.form-group.success input {
  border-color: #2ecc71;

}

.form-group.success small {
visibility: hidden;
}

.form-group.error input {
  border-color: #e74c3c;
  
}

.form-group.error small {
  color: #e74c3c;
  visibility: visible;
}