
.form1 {
margin-top: 10%;
margin-left: 40%;
margin-right: 20%;
    float: left;
  width: 40%;
  

}

input, select, textarea  {
    margin: 10px;
    width: 70%;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border-width: 1.5px;
}

 label {
        padding-top: 15px;
     float: left;
     width: 25%;
     height: 30px;
    
    
 }

 #address {
     height: 80px;
    
 }

 .submit-button {
     background-color: rgb(43, 189, 252);
     padding: 5px;
     width: 12%;
    margin-left: 85%;
    border-radius: 5px;
    outline: none;
    border-color: dodgerblue;
 }

 
 small {
  visibility: hidden;
  color: black;
}


.success input {
  border-color: #2ecc71;

}
.success small {
visibility: hidden;
}
.error input {
  border-color: #e74c3c;
  
}
.error small {
  color: #e74c3c;
  visibility: visible;
}
.form-group {
  margin-bottom: 1rem;
}
.form-inline .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

.col-sm-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.6666666667%;
          flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}