body{
	margin: 0;
	padding: 0;
	background-color:#e6eded;
	background-size:cover;
	background-position: center;
  font-family: 'Montserrat', sans-serif; 
}


.To{
  margin-right:170px;
}
.btn.confirm-button{
  color:#e5e4e2; 
  background-color:#aaa; 
  border-color:#aaa;
}
.user2btn{
  margin-left:650px; 
  margin-bottom:30px;
}
.signlebtn{
  float: right; 
  margin-right:150px;
  margin-bottom: 30px;
  height:40px;  
}
.searchBar{
  padding-top:15px;
  margin-right:50px; 
  margin-left:50px; 
  padding:3%;
  background-color:#fdfdff;
}
.searchBarLable{
  margin-left:120px; 
  margin-top:10px;
  font-size: 16px;
  margin-bottom:-25px; 
}
.BackgroundFS{
  background-color:#fafcfd; 
  border-bottom:10px; 
  padding-bottom:20px;
  border:none;
}
.radioLbl2{
  margin-left:10px;
}
.form-control.searchInput{

  position: relative;
  margin-left:125px; 
  margin-bottom:10px;
  width: 380px;
  height: 45px;
  border-radius: 5px;
  outline: none;border-width: 1.5px;


}
.form-control.InputTwo{
  margin-left:810px; 
  width:150px;
  margin-top:-30px; 
  margin-bottom:50px;
  
}
.Twobtn{
  margin-left:500px;
}
.inputLable.LableTwo{
  margin-left:640px;
  margin-top:-80px;
}
.inputLable{
  margin-left:100px;
  margin-right: 30px;;
  margin-bottom:10px;
}
.inputLableOne{
  margin-left:185px;
  margin-bottom:23px;
}

.form-control.Input{
  margin-left:350px;
  margin-bottom:50px;
  margin-right:150px; 
  margin-top:-4%;

  
}
.form-control.details{
  margin-left:0px;
  margin-bottom:50px;
  margin-right:150px; 
  margin-top:-4%;
  width:100px;

  
}
.btn.siz{
  margin-left: 66%; 
  width:13%;
}
.form-control.Input.txtWidth{
  min-height: 100px;;
}
.selectBox.input{
  margin-left:350px;
  margin-bottom:50px;
  margin-right:250px; 
  margin-top:-4%;
}
.form-control.InputOne{
  width:150px; 
  margin-top:-30px; 
  margin-left:345px; 
  margin-bottom:-30px;
}

.btn.btn-primary.btnNav{
  margin-left: 72%; 
  margin-top:-55px; 
  width:13%; 
  height: 45px;
  margin-bottom:20px;
}
.userpro{
  margin:80px;
}
.radioHaveInput{
  margin-left:20px
  ;margin-bottom:18px;
}
.radioHaveLable{
  margin-left:-130px;
  margin-bottom:20px;
  margin-right:150px;
}
.margn{
  margin-top:50px;
}
.form-control.InputPro{
  margin-left:350px;
  margin-bottom:50px;
  margin-right:250px; 
  margin-top:-5%;
  
}

.checkLable{
  margin-top:10px; 
  margin-left:50px;
}

.checksbox{
  background-color: white;
  width:630px;
  margin-left:345px;
  margin-top:-50px; 
  font-size:18px; 
  border-radius:10px; 
  
  margin-bottom:50px;
}
/* multy selectcheckboxess css */

.multiselect {
  width: 700px;
}

.selectBox {
  position: relative;
  position: 1000px;;
}

.selectBox select {
  width: 200%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  background-color: white;
  width:630px;
  margin-left:345px;
  margin-top:-50px; 
  font-size:18px; 
  border-radius:10px; 
  
  margin-bottom:50px;
  display: none;
  border: 1px #dadada solid;

  
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color:#E0E0E0;
}


#checkbox2 {
  background-color: white;
  width:630px;
  margin-left:345px;
  margin-top:-50px; 
  font-size:18px; 
  border-radius:10px; 
  
  margin-bottom:50px;
  display: none;
  border: 1px #dadada solid;

  
}

#checkbox2 label {
  display: block;
}

#checkbox2 label:hover {
  background-color:#E0E0E0;
}




/* multyselect checkbox */






.detailsLable{
margin-top:10px;
  margin-left:300px;
  margin-bottom:38px; 
}
.form-control.inputDetails{
  position: relative;
  margin-left:40px; 
  margin-bottom:10px;
  width: 400px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border-width: 1.5px;
}

.form-control.inputDetailsInput{
  position: relative;
  margin-left:45px; 
  margin-bottom:10px;
  width: 400px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border-width: 1.5px;
}
.flx{
  display:flex;
}
.LblflxOne{
  margin-left:70px;
  margin-bottom:18px;
}
.form-control.flxInputOne{
  margin-left:35px;
  margin-bottom:20px;
  margin-right:150px;
}
.LblflxTwo{
  margin-left:70px;
  margin-bottom:18px;
}
.form-control.flxInputTwo{
  margin-left:50px;
  margin-bottom:20px;
  margin-right:150px;
}
.fntStyle{
  margin-bottom:30px; 
  margin-top:10px; 
  margin-left:30px;
}
.tbleMargin{
  margin-left:50px; 
  position: center;
  margin-right:50px;
  margin-bottom:50px;
  margin-top:30px;
}


.form-control.inputDetailsFunfInput{
  position: relative;
  margin-left:30px; 
  margin-bottom:10px;
  width: 400px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border-width: 1.5px;
}

.btn.location{
  margin-left: 43%;
  height: 30px; 
  border-radius: 5px; 
  padding-bottom:40px;
  padding-top:10px; 
  margin-bottom:5%; 
  margin-top:5%;
}


.radio1, .radio2 , .job-type {
  display: inline-block;
  margin: 0px 20px;
}

.multiselect {
  margin-top: 20px;
  width: 100%;
}

.selectBox {
  
  display: inline-block;
  position: relative;
}

.selectBox select {
  border-radius: 5px;
  height: 25px;
  width: 100px;
  font-weight: bold;
}

#overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}


label{
  color: #8F8E91;
  text-align:left;
}

 h2{
   text-align: center;
   font-size: 33px;
   padding-top: 2%;
   color: black;
   margin-bottom:50px;
	/* margin: 0;
	padding: 68px 100% 0 0px;
	text-align: match-parent;
	font-size: 28px;
	font-weight: normal; */
} 
a{
	text-decoration:none;
	font-size: 13px;
	line-height: 20px;
	color: #218BDB;
}

.box{
	width: 500px;
	height: 450px;  
	background:#ffffff;
	color: #fffef4;
	top:50%;
	left:50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 45px 30px;
	border-radius: 10px;

}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled, .btn:disabled {
  opacity: 0.65;
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 5px 5px 5px 0.2rem rgba(38, 143, 255, 0.5);
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fafcfd;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}
.form-group {
  margin-bottom: 1rem;
}
.form-text {
  display: block;
  margin-top: 0.25rem;
}
.text-muted {
  color: #6c757d !important;
}

.form-group small {
  visibility: hidden;
  color: black;
}



.form-group.success input {
  border-color: #2ecc71;

}

.form-group.success small {
visibility: hidden;
}

.form-group.error input {
  border-color: #e74c3c;
  
}

.form-group.error small {
  color: #e74c3c;
  visibility: visible;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}.fm {
 
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
  margin-bottom: 5px;;
  margin-top: 5px;;
}

.form-row > .col,
.form-row > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}

.was-validated :invalid ~ .invalid-feedback,
.was-validated :invalid ~ .invalid-tooltip,
.is-invalid ~ .invalid-feedback,
.is-invalid ~ .invalid-tooltip {
  display: block;
}

.was-validated .form-control:invalid, .form-control.is-invalid {
  border-color: #F57A00;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23F57A00' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23F57A00' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus {
  border-color: #F57A00;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(245, 122, 0, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(245, 122, 0, 0.25);
}

.was-validated textarea.form-control:invalid, textarea.form-control.is-invalid {
  padding-right: calc(1.5em + 0.75rem);
  background-position: top calc(0.375em + 0.1875rem) right calc(0.375em + 0.1875rem);
}

.was-validated .custom-select:invalid, .custom-select.is-invalid {
  border-color: #F57A00;
  padding-right: calc(0.75em + 2.5625rem);
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 1rem center/8px 10px, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23F57A00' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23F57A00' stroke='none'/%3e%3c/svg%3e") #fff no-repeat center right 2rem/calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.was-validated .custom-select:invalid:focus, .custom-select.is-invalid:focus {
  border-color: #F57A00;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(245, 122, 0, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(245, 122, 0, 0.25);
}

.was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label {
  color: #F57A00;
}

.was-validated .form-check-input:invalid ~ .invalid-feedback,
.was-validated .form-check-input:invalid ~ .invalid-tooltip, .form-check-input.is-invalid ~ .invalid-feedback,
.form-check-input.is-invalid ~ .invalid-tooltip {
  display: block;
}

.was-validated .custom-control-input:invalid ~ .custom-control-label, .custom-control-input.is-invalid ~ .custom-control-label {
  color: #F57A00;
}

.was-validated .custom-control-input:invalid ~ .custom-control-label::before, .custom-control-input.is-invalid ~ .custom-control-label::before {
  border-color: #F57A00;
}

.was-validated .custom-control-input:invalid:checked ~ .custom-control-label::before, .custom-control-input.is-invalid:checked ~ .custom-control-label::before {
  border-color: #ff9429;
  background-color: #ff9429;
}

.was-validated .custom-control-input:invalid:focus ~ .custom-control-label::before, .custom-control-input.is-invalid:focus ~ .custom-control-label::before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(245, 122, 0, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(245, 122, 0, 0.25);
}

.was-validated .custom-control-input:invalid:focus:not(:checked) ~ .custom-control-label::before, .custom-control-input.is-invalid:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #F57A00;
}

.was-validated .custom-file-input:invalid ~ .custom-file-label, .custom-file-input.is-invalid ~ .custom-file-label {
  border-color: #F57A00;
}

.was-validated .custom-file-input:invalid:focus ~ .custom-file-label, .custom-file-input.is-invalid:focus ~ .custom-file-label {
  border-color: #F57A00;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(245, 122, 0, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(245, 122, 0, 0.25);
}

.form-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

}
.valid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #22B24C;
  }
  
  .valid-tooltip {
    position: absolute;
    top: 100%;
    z-index: 5;
    display: none;
    max-width: 100%;
    padding: 0.25rem 0.5rem;
    margin-top: .1rem;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #fff;
    background-color: rgba(34, 178, 76, 0.9);
    border-radius: 0.25rem;
  }
  
  .was-validated :valid ~ .valid-feedback,
  .was-validated :valid ~ .valid-tooltip,
  .is-valid ~ .valid-feedback,
  .is-valid ~ .valid-tooltip {
    display: block;
  }
  
  .was-validated .form-control:valid, .form-control.is-valid {
    border-color: #22B24C;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2322B24C' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  }
  
  .was-validated .form-control:valid:focus, .form-control.is-valid:focus {
    border-color: #22B24C;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(34, 178, 76, 0.25);
            box-shadow: 0 0 0 0.2rem rgba(34, 178, 76, 0.25);
  }
  
  .was-validated textarea.form-control:valid, textarea.form-control.is-valid {
    padding-right: calc(1.5em + 0.75rem);
    background-position: top calc(0.375em + 0.1875rem) right calc(0.375em + 0.1875rem);
  }
  
  .was-validated .custom-select:valid, .custom-select.is-valid {
    border-color: #22B24C;
    padding-right: calc(0.75em + 2.5625rem);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 1rem center/8px 10px, url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2322B24C' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") #fff no-repeat center right 2rem/calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  }
  
  .was-validated .custom-select:valid:focus, .custom-select.is-valid:focus {
    border-color: #22B24C;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(34, 178, 76, 0.25);
            box-shadow: 0 0 0 0.2rem rgba(34, 178, 76, 0.25);
  }
  
  .was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
    color: #22B24C;
  }
  
  .was-validated .form-check-input:valid ~ .valid-feedback,
  .was-validated .form-check-input:valid ~ .valid-tooltip, .form-check-input.is-valid ~ .valid-feedback,
  .form-check-input.is-valid ~ .valid-tooltip {
    display: block;
  }
  
  .was-validated .custom-control-input:valid ~ .custom-control-label, .custom-control-input.is-valid ~ .custom-control-label {
    color: #22B24C;
  }
  
  .was-validated .custom-control-input:valid ~ .custom-control-label::before, .custom-control-input.is-valid ~ .custom-control-label::before {
    border-color: #22B24C;
  }
  
  .was-validated .custom-control-input:valid:checked ~ .custom-control-label::before, .custom-control-input.is-valid:checked ~ .custom-control-label::before {
    border-color: #30d761;
    background-color: #30d761;
  }
  
  .was-validated .custom-control-input:valid:focus ~ .custom-control-label::before, .custom-control-input.is-valid:focus ~ .custom-control-label::before {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(34, 178, 76, 0.25);
            box-shadow: 0 0 0 0.2rem rgba(34, 178, 76, 0.25);
  }
  
  .was-validated .custom-control-input:valid:focus:not(:checked) ~ .custom-control-label::before, .custom-control-input.is-valid:focus:not(:checked) ~ .custom-control-label::before {
    border-color: #22B24C;
  }
  
  .was-validated .custom-file-input:valid ~ .custom-file-label, .custom-file-input.is-valid ~ .custom-file-label {
    border-color: #22B24C;
  }
  
  .was-validated .custom-file-input:valid:focus ~ .custom-file-label, .custom-file-input.is-valid:focus ~ .custom-file-label {
    border-color: #22B24C;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(34, 178, 76, 0.25);
            box-shadow: 0 0 0 0.2rem rgba(34, 178, 76, 0.25);
  }
  
  .invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #F57A00;
  }
  
  .invalid-tooltip {
    position: absolute;
    top: 100%;
    z-index: 5;
    display: none;
    max-width: 100%;
    padding: 0.25rem 0.5rem;
    margin-top: .1rem;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #fff;
    background-color: rgba(245, 122, 0, 0.9);
    border-radius: 0.25rem;
  }
  






  .birth  {
    
    display: flex;
}

.birth input {
   margin-right: 25px;
}

.birth-date {
   width: 20%;
}

.birth-id {
   width: 20%;
}



.job-set  {
   
    display: flex;
}

.job-label {
   
   width: 27%;
   margin-right: 30px;
}

.job-set input {
   margin-right: 25px;
}

.job , .job-type{
   width: 30%;
}



.phone-set  {
    display: flex;
}

.phone-set input {
   margin-right: 25px;
}

.phone-number {
   width: 30%;
}

.trustee-label {
   
   width: 14%;
   
}

.phone-set select {
   width: 20%;
}

.form-group small {
   visibility: hidden;
   color: black;
 }
 
 
 
 .form-group.success input {
   border-color: #2ecc71;
 
 }
 
 .form-group.success small {
 visibility: hidden;
 }
 
 .form-group.error input {
   border-color: #e74c3c;
   
 }
 
 .form-group.error small {
   color: #e74c3c;
   visibility: visible;
 }
/* new */
.all_bacground_clor{
  background-color:#e6eded;
}
.SearchByCriteriaform1{
  background-color:#ffffff;
  width: 80%;
  margin-top:15px; 
  overflow:auto;   
  height:590px; 
  margin-left:300px; 
     
}


.multiselect {
  margin-top: 20px;
  width: 100%;
}

.selectBox {
  
  display: inline-block;
  position: relative;
}

.selectBox select {
  border-radius: 5px;
  height: 25px;
  width: 200px;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.divisionDashboard{
  background-color:#ffffff;
  width: 80%;
  margin-top:15px;
  overflow:auto;   
  height:590px; 
  margin-left:300px; 
     
}

.content{
  background-color:#ffffff;
  width: 80%;
  height:79%; 
  margin-top:15px; 
  overflow:auto;   
  margin-left:300px; 
}

.grid_box{
  height: 100%;
  display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
}

.box-1{
  /*width: 100%;*/
  margin: 5px;
  background-color:#1b29e4;
  grid-row: 1/2;
  grid-column: 1/2;
}

.box-2{
  margin: 5px;
  background:lightblue;
  grid-row: 1/2;
  grid-column: 2/3;
}

.box-3{
  margin: 5px;
  background: lightblue;
  grid-row: 1/2;
  grid-column: 3/4;
}

.box-4{
  margin: 5px;
  background: #ffffff;
  grid-row: 2/3;
  grid-column: 1/4;
}

.box-1 img{

  /* height:inherit; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  

}









